[project]
	description = Interactive HTML5 based quantum demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arvind Somya (asomya)
[access "refs/for/refs/*"]
	read = group user/Arvind Somya (asomya)
	push = group user/Arvind Somya (asomya)
	label-Code-Review = -2..+2 group user/Arvind Somya (asomya)
	label-Verified = -1..+1 group user/Arvind Somya (asomya)
	rebase = group user/Arvind Somya (asomya)
	removeReviewer = group user/Arvind Somya (asomya)
	submit = group user/Arvind Somya (asomya)
[access "refs/heads/*"]
	read = group user/Arvind Somya (asomya)
	create = group user/Arvind Somya (asomya)
	push = +force group user/Arvind Somya (asomya)
	pushMerge = group user/Arvind Somya (asomya)
[access "refs/tags/*"]
	push = +force group user/Arvind Somya (asomya)
	pushTag = group user/Arvind Somya (asomya)
	pushSignedTag = group user/Arvind Somya (asomya)
